body {
    margin: 0;
    padding: 0;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loading-text {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.no-display {
    display: none;
}

.container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.visible {
    visibility: visible;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(49, 148, 161);
    background-image: url(assets/jack_sparrow.jpg);
    background-size: cover;
    background-position: center center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62%;
    height: fit-content;
    margin: 5%;
    margin-bottom: 0%;
    padding: 8%;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 0px;
    background-color: rgba(0, 0, 0, 0.185);
    box-sizing: border-box;
}

@media (max-width: 690px) {
    .header {
        flex-direction: column;
        background-position: right center;
    }

    .header-content {
        width: auto;
        height: fit-content;
        gap: 40px;
    }
}

.header-youtube-channel-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f71e1e;
    color: white;
    height: fit-content;
    padding: 12px 24px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    z-index: 1000;
}

.header-youtube-channel-button:hover {
    background-color: #a71212;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-h {
    visibility: hidden;
    opacity: 0;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    transition: opacity 0.7s ease-in-out;
}

.fade-in-fast {
    visibility: visible;
    animation: fadeIn 0.7s forwards;
}

.header-p {
    visibility: hidden;
    opacity: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    transition: opacity 1s ease-in-out;
}

.fade-in-slow {
    visibility: visible;
    animation: fadeIn 1s forwards;
}

.downloads {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    width: 100%;
    background-color: rgb(202, 253, 253);
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .downloads {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.download-btn {
    background-color: #88e662;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 0px;
    transition: border-radius 0.5s ease,
                background-color 0.1s ease;
}

.download-btn:hover {
    border-radius: 30px;
    background-color: #9deb7e;
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(640px 1fr));
}

.item-info {
    display: flex;
    flex-direction: column;
    padding: 26px;
}

.item-h-and-download-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.item-h {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
